        /* CSS for the navigation bar */
.navbar {
    background-color: #005596; /* Background color of the navbar */
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white; /* Text color for navbar links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .navbar-title {
    float: left;
    font-size: 24px; /* You can adjust the font size */
    color: white; /* Text color for the website name */
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 50%; /* Space between the name and links */
}

.navbar a:hover {
    background-color: white;
    color: black;
}
.banner-slide {
    width: 100%;
    height: 470px;
    background: #000;
    float: left;
    position: relative;
    background: url('./images/Guelmim_01.jpg');
    background-size: cover;
    background-position: 50% 50%;
}
          
.banner-slide .banner-overlay {
    position: absolute;
    width: 60vw;
    background: #005596;
    left: -150px;
    height: 470px;
    border-radius: 10% 0% 20% 10% / 0% 87% 38% 0%;
    transform: skew(-30deg, 0deg);
    background: -moz-linear-gradient(left, #005596) 0%, rgba(255, 255, 255, 0.83) 100%;
    background: -webkit-linear-gradient(left, #005596 0%, rgba(255, 255, 255, 0.83) 100%);
    background: linear-gradient(to right, #005596 0%, rgba(255, 255, 255, 0.83) 100%);
}
          
.banner-slide .banner-overlay .banner-content {
    margin-left: 30%;
    transform: skew(30deg, 0deg);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
          
.banner-slide .banner-overlay .banner-content h1 {
    color: white;
    font-size: 36px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    line-height: 58px;
}
          
.banner-slide .banner-overlay .banner-content p {
    color: white;
    font-size: 24px;
    line-height: 38px;
}
          
.banner-slide .banner-overlay .banner-content a.button {
    padding: 18px 50px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    background: #005596;
    text-decoration: none;
}
          
.banner-slide .banner-overlay .banner-content a.button:hover {
    background: darken(#005596, 10%);
}
          
@media only screen and (max-width: 1250px) {
    .banner-slide .banner-overlay {
        width: 80vw;
    }
    .banner-slide .banner-overlay .banner-content {
        margin-left: 30%;
    }
}
          
@media only screen and (max-width: 750px) {
    .banner-slide .banner-overlay {
        width: 90vw;
        }
}
          
@media only screen and (max-width: 680px) {
    .banner-slide .banner-overlay {
        width: 100vw;
        border-radius: 0px;
        transform: skew(0deg, 0deg);
        left: 0px;
    }
    .banner-slide .banner-overlay .banner-content {
        margin-left: 0px;
        transform: skew(0deg, 0deg);
        text-align: center;
        align-items: center;
        }
}


/* sddfd */
template{
    background-color: white;
}
.services_section.layout_padding {
    padding-top: 0px;
    padding-bottom: 0px;
}


.image_main {
    width: 100%;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
}

.image_8 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.full-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white; /* Set the background color you prefer */
    overflow: hidden;
  }
  .services_taital{
    margin-bottom: 20px; /* Add margin at the bottom of the h1 */
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    float: left;
    font-size: 40px;
    color: #170e09;
    text-align: center;
    font-weight: bold;
}
.services_section_2 {
    width: 100%;
    float: left;
}
.services_taital::after {
    content: '';
    position: relative;
    width: 40px;
    height: 17px;
    background-color: #005596;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
.text_main {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
}

.seemore_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.image_main:hover .image_8 {
    opacity: 2;
}

.image_main:hover .text_main {
    opacity: 5;
}

.image_main:hover .seemore_text {
    color: #ffffff;
}

.image_main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    right: 0px;
    margin: 0 auto;
    top: 0px;
    display: none;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
.image_main:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    right: 0px;
    margin: 0 auto;
    top: 0px;
    display: block;
}


/* dsfds */

.container-main {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #005596;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #005596;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document {
    color: #333;
    font-size: 20px;
}

.note {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
.full-page {
overflow: auto;
height: 100vh;
}

.row {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
table {
border-collapse: collapse;
width: 60%;
margin: 0 auto;
}
th, td {
border: 1px solid black;
padding: 8px;
text-align: center;
}

th {
background-color: #005596ea;
}

tr:nth-child(even) {
background-color: white;
}
.col-md-3 {
width: calc(50% - 20px);
box-sizing: border-box;
padding: 10px;
margin: 10px;
}
.footer {
    background-color: #005596;
    color: #fff;
    padding: 20px 0;
    height: 10px;
}

.footer .container-main-footer {
    display: flex;
    justify-content: space-between;
}

.footer h4 {
    font-size: 18px;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer i {
    font-size: 24px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}