/* src/assets/styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles can go here */
/* body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", Helvetica, Arial, serif;
} */
.full-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0; /* Set the background color you prefer */
    overflow: hidden;
  }
.style-noodels-Fourteen {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
}
    .style-noodels-Fourteen * {
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        color: #fff;
    }

        .style-noodels-Fourteen *:after {
            box-sizing: border-box;
            transition: all 0.3s ease-in-out;
        }

    .style-noodels-Fourteen img {
        max-width: 100%;
        min-width: 100%;
        height: 100%;
        transform: scale(1.2);
        object-fit: cover;
    }

    .style-noodels-Fourteen figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .style-noodels-Fourteen h3 {
        position: absolute;
        width: 100%;
        background: #000000;
        transform: translateY(-50%);
        padding: 12px 20px;
        margin: 0;
        top: 50%;
        text-transform: uppercase;
        font-weight: 400;
    }

        .style-noodels-Fourteen h3 span {
            font-weight: 800;
        }

    .style-noodels-Fourteen .icons {
        padding: 5px 15px;
        position: absolute;
        left: 0;
        top: 50%;
        width: 99%;
        height: 65px;
        background-color: #ffffff;
        text-align: right;
        transform: translateY(-50%);
        transition-delay: 0.2s;
    }

        .style-noodels-Fourteen .icons p i {
            font-size: 24px;
            color: #000000;
            padding: 0 8px;
        }

            .style-noodels-Fourteen .icons p i:before {
                opacity: 0;
                transform: translateY(-20px);
                transition: all 0.3s ease-in-out;
            }
    .style-noodels-Fourteen.blue {
        background: whitesmoke;
    }
        .style-noodels-Fourteen.blue h3 {
            background: #005596;
        }

        .style-noodels-Fourteen.blue:after {
            background-color: #005596;
        }

        .style-noodels-Fourteen.blue p {
            text-decoration: none;
            color: black;
            font-size: x-large;
            font-weight: bold;
        }

    .style-noodels-Fourteen.green {
        background: whitesmoke;
    }

        .style-noodels-Fourteen.green h3 {
            background: #005596;
        }

        .style-noodels-Fourteen.green:after {
            background-color: #005596;
        }

        .style-noodels-Fourteen.green p {
            text-decoration: none;
            color: black;
            font-size: x-large;
            font-weight: bold;
        }

    .style-noodels-Fourteen:hover img {
        opacity: 0.3;
        transform: scale(1);
    }

    .style-noodels-Fourteen:hover h3 {
        transform: translateY(-100%);
        transition-delay: 0.2s;
    }

    .style-noodels-Fourteen:hover .icons {
        transform: translateY(0);
    }

        .style-noodels-Fourteen:hover .icons p i:before {
            opacity: 1;
            transform: translateY(0);
        }

    .style-noodels-Fourteen:hover p:first-child i:before {
        transition-delay: 0.4s;
    }

    .style-noodels-Fourteen:hover p:nth-child(2) i:before {
        transition-delay: 0.3s;
    }

    .style-noodels-Fourteen:hover p:nth-child(3) i:before {
        transition-delay: 0.2s;
    }

    .style-noodels-Fourteen.hover img {
        opacity: 0.3;
        transform: scale(1);
    }

    .style-noodels-Fourteen.hover h3 {
        transform: translateY(-100%);
        transition-delay: 0.2s;
    }

    .style-noodels-Fourteen.hover .icons {
        transform: translateY(0);
    }

        .style-noodels-Fourteen.hover .icons p i:before {
            opacity: 1;
            transform: translateY(0);
        }

    .style-noodels-Fourteen.hover p:first-child i:before {
        transition-delay: 0.4s;
    }

    .style-noodels-Fourteen.hover p:nth-child(2) i:before {
        transition-delay: 0.3s;
    }

    .style-noodels-Fourteen.hover p:nth-child(3) i:before {
        transition-delay: 0.2s;
    }

#container {
    /*margin-top: -150px;*/
    height: 100%;
}
#padd-box{
    padding: 0px;
}

#row {
    height: 100%;
    display: flex;
}
@media (max-width: 768px) {
    #row {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

