@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
:root{
	--main-color: #005596;
	--second-color: #ffffff;
	--black: #000;
	--white: #fff;
  --gray:#cecece;
}
*{
	margin: 0;
	padding: 0;
	/* font-family: 'Josefin Sans', sans-serif; */
}
body{
	background: var(--main-color);
	height: 100vh;
}
.clearfix{
	clear: both;
}
.left-div{
	width:12%;
	float:left;
	height: 90vh;
	padding: 25px 10px 0px 35px;
  overflow: hidden

}
.right-div{
	width: 76%;
	float:left;
	height: 85vh;
	background: var(--white);
	margin: 25px;
	border-radius: 0;
	padding: 30px;
  overflow-y: auto;
}
.right-div::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.right-div::-webkit-scrollbar-thumb {
  
  background-color: var(--white); /* Set the color of the thumb */
  border-radius: 0px; /* Set the rounded corners of the thumb */
}

.right-div::-webkit-scrollbar-track {
  background-color: var(--main-color); /* Set the color of the track */
}

.hr{
	border: none;
  height: 1px;
  background: var(--main-color);
  margin-top: 15px;
  margin-bottom: 10px;
}
.nav li {
    list-style: none;
    padding: 13px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav li a i {
    padding-right: 5px;
    color: var(--second-color);
    font-size: 23px;
    padding-right: 10px;
    vertical-align: bottom;
    width: 23px;
    height: 23px;
    transition: color 0.3s;
}

.nav li:hover,
.nav li:focus {
    background: var(--white);
    border-radius: 27px;
}

.nav li:hover a,
.nav li:focus a {
    color: var(--black) !important;
}

.nav li:hover a i,
.nav li:focus a i {
    color: var(--main-color);
}
.nav li{
	list-style: none;
	padding: 13px 10px;
}
.nav li a{
	text-decoration: none;
	color: white;
}
.nav li a i{
	padding-right: 5px;
    color: var(--second-color);
    font-size: 23px;
    padding-right: 10px;
    vertical-align: bottom;
    width: 23px;
    height: 23px;
}
.active{
	background:var(--white);
	border-radius: 27px;
	position: relative;
}

.nav > .active::before, .nav > .active::after {
     content: "";
     position: absolute;
}
.nav > li{
    border-radius: 60px 0 0 60px;
    width: 101%;
    padding-left: 25px;
    margin-left: -16px;
}
.nav > .active::before {
    top: -80px;
    right: -24px;
    height: 80px;
    width: 40px;
    /* border-bottom-right-radius: 80px; */
    /* box-shadow: 0 40px 0 0 var(--white); */
    /* transform: rotateY(324deg); */
}
.nav > .active::after {
    top: 49px;
    right: -24px;
    height: 80px;
    width: 38px;
    /* border-top-right-radius: 80px; */
    /* box-shadow: 0 -40px 0 0 var(--white); */
    /* transform: rotateY( 324deg); */
}
.active a{
	color: var(--black)!important;
}
.active i{
	color: var(--main-color)!important;
}
.support{
    align-items: center;
	background: #ffffff21;
    border-radius: 10px;
    position: relative;
    width: 60px;
    height: 60px;
}

.head{
padding: 0px 6px;
    border-bottom: 1px solid #d6d6d8b8;
    padding-bottom: 10px;
}
.col-div-6{
	width: 50%;
	float: left;

}
.col-div-4-1{
  width: 33.3%;
  float: left;
}
.box{
	  width: 88%;
    height: 130px;
    background-color: #ffffff;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 2px 5px 10px #ddd;
    position: relative;
    border-radius: 15px;
}
.box-8{
    width: 97.8%;
    background-color: #fff;
    height: 330px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 2px 5px 10px #ddd;
    position: relative;
    border-radius: 15px;
    margin-top: 8%;
    margin-right: 10;

}
.box p{
    color: #005596;
    font-weight: 500;
    padding-left: 10px;
}
.number{
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.percent{
  margin: 0px;
  font-size: 14px;
  color: #005596!important;
}
.percent span{
  font-size: 12px;
  color: #005596;
  padding-left: 3px;
}
.head-1{
  font-size: 18px!important;
  margin: 10px 0px;
      color: #6c7293;
}
.head-1 span{
    float: right;
    background-color: #005596;
    color: white;
    padding: 3px 10px;
    font-size: 15px;
    line-height: 14px;
    vertical-align: baseline;
    padding-top: 8px;
}
.box-icon{
	    font-size: 20px!important;
    margin-top: 35px!important;
    color: #005596;
    padding-right: 10px;
    background-color: #efeff5;
    padding: 15px;
    border-radius: 25px;
    position: absolute;
    right: 16px;
    top: -18px;
}
.box-1{
  width: 88%;
  height: 282px;
  background-color:#e3e3e3;
  margin-left: 10px;
  padding:10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}
.m-box{
  color: #6c7293;
  position: relative;
  padding: 0px 12px;
}

.m-box p{
  display: inline-block;
      margin: 10px 0px;
}
.no{
  position: absolute!important;
    top: 21px;
    right: 15px;
    font-weight: 500;
}
.no-1{
      font-size: 12px;
    color: #9398b1;
}
.act-p{
  font-size: 13px;
  color: #6c7293;
  margin-bottom: 25px;
}
.act-p .fa{
  color: orange!important;
}

.content-box-1{
  padding: 0px 10px;
}
.col-div-12{
	width: 100%;
}

.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color:#6c7293;
}
.content-box p span{
	float: right;
    background-color: #5643ff;
    color: white;
    padding: 3px 10px;
    font-size: 15px;
}
/* .box-8{
	width: 97.8%;
	background-color: #fff;
	height: 330px;
	
} */
.active1{
	    background: #005596;
    color: white;
    border-radius: 0;
}
.active1 p .no-1{
	color: white;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #005596;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  color: #005596;
}


.nav li.active {
  background-color: white;
}
.a-ptr{
  cursor: pointer;
}

#li_ptr{
  margin-top: 60%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.custom-select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* Bootstrap grid system */
.col-12 {
width: 100%;
float: left;
}

.col-3 {
width: 25%;
float: left;
}

.col-9 {
width: 75%;
float: left;
}

/* Clearfix to clear floats */
/* Add this if needed to prevent layout issues due to floated elements */
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Custom styles */
label {
display: block; /* Make labels block-level for better spacing */
margin-bottom: 5px;
}

select,
input {
width: 100%;
padding: 8px;
margin-top: 4px;
border-radius: 6px;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Optional: Style the select dropdown arrow */
select {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
padding-right: 30px; /* Adjust as needed */
background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 10l5 5 5-5z" fill="black"/></svg>') no-repeat right center;
}


/* Add additional styling as needed */

/* CSS */
.button-65 {
appearance: none;
backface-visibility: hidden;
background-color: #005596;
border-radius: 2px;
border-style: none;
box-shadow: none;
box-sizing: border-box;
color: #fff;
cursor: pointer;
font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
font-size: 14px;
font-weight: 400;
height: 40px;
letter-spacing: normal;
line-height: 1.5;
outline: none;
overflow: hidden;
text-align: center;
touch-action: manipulation;
margin: auto;
display: block;
white-space: nowrap;
}

.button-65:hover {
background-color: #005596;
box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
opacity: 1;
transform: translateY(0);
transition-duration: .35s;
}

.button-65:hover:after {
opacity: .5;
}

.button-65:active {
box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
transform: translateY(2px);
transition-duration: .35s;
}

.button-65:active:after {
opacity: 1;
}

@media (min-width: 768px) {
.button-65 {
  /* padding: 14px 22px; */
  width: 300px;
}
}
/* Two-column layout */
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group.row-50 {
  display: flex;
}

.col-50 {
  width: 20%;
  margin-right: 2em; /* Adjust the margin between columns */
}
.col-500 {
  width: 48%;
  margin-left: 4.3em;
}
.col-501 {
  width: 20%;
}

.col {
    width: 48%; /* Adjust as needed based on your design */
}


.form-group {
  margin-bottom: 20px;
}
.green-border {
  border: 1px solid green;
}


#profile-upper {
  position: relative;
}
#profile-banner-image {
  height: 360px;
  overflow: hidden;
  z-index: 1;
}

#profile-banner-image {
  width: 100%;
  margin-top: -20%;
}
.img-TM{
  width: 100%;
  margin-top: -20%;
}
#profile-d {
  position: absolute;
  left: 59px;
  bottom: 0px;
  right: 0px;
  height: 180px;
  z-index: 2;
}
#profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 3px;
  margin-top: 28px;
  overflow: hidden;
  box-shadow: 0 0 0 5px #fff;
}
#profile-pic img {
  width: 150%;
}
#u-name {
  position: absolute;
  top: 120px;
  left: 208px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.user-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 60%;
  text-align: left;
}

.user-form-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 30%;
  text-align: left;
}
.user-form-card-main {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 30%;
  text-align: left;
}
.user-form-card-main-dd {
  height: 10px;
  width: 95%;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 30%;
  text-align: left;
}


.user-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.user-form p {
  margin: 10px 0;
  color: #333;
}

.user-form-card-done {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 30%;
  width: 100%;
  text-align: left;
}













